.list {
  max-width: 300px;
  margin: auto;
  text-align: initial;
  margin-top: 2rem;
}

.task {
  margin: 10px 15px;
  text-transform: capitalize;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid black;
  box-shadow: 1px 1px 1px black;
  padding: 5px;
  color: blue
}